@import "tailwindcss";

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        height: 8px;
        width: 6px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #c1c1c1;
        border-radius: 10px;
        border: 2px solid #f1f1f1;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #a1a1a1;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-2px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .animate-fade-in {
        animation: fadeIn 0.2s ease-out forwards;
    }
}